<h1>We couldn't process your order; we apologize for the inconvenience</h1>
<p>It is quite possible (one might even say probable) that you entered a negative number for the number of dishes to order.</p>
<%= button_to "Go back to homepage", root_path %>
